{% extends "authBase.html" %}

{% block head %}

<style type="text/css">

.inner { 
    width: 350px;
}

</style>

{% endblock %}

{% block content %}

<!--image circle of molecule -->
<div style="margin:auto;width:80px">
    <img style="height: 80px;width: 80px;border-radius:50%;" 
         src="static/img/molecule1.png">
</div>

<div style="height:40px;margin:auto;width:250px;font-size:30px;
          padding-top:20px;">
    <div>Change Password</div>
</div>

<div id="formDiv">
	<form style="margin-bottom:20px" action="" method="post" name="login">
        {{ form.hidden_tag() }}

        <div style="margin:0 auto;width:290px">
              <div>
                <div>
                  Old Password:
                  {% for error in form.old_password.errors %}
                    <span class="error">{{ error }}</span>
                  {% endfor %}
                </div>
                  {{ form.old_password}}<br>
              </div>
              <div>
                <div>
                  New password:
                  {% for error in form.new_password.errors %}
                    <span class="error">{{ error }}</span>
                  {% endfor %}
                </div>
                  {{ form.new_password}}<br>
              </div>
              <div>
                <div>
                  Confirm new password:
                  {% for error in form.confirm_new_password.errors %}
                    <span class="error">{{ error }}</span>
                  {% endfor %}
                </div>
                  {{ form.confirm_new_password}}<br>
              </div>
              <!--Button save/cancel-->
              <div style="width:100%;margin-top:10px;">
                <div id="btnWrapper" style="margin:0 auto;width:300px;">
                  <input  id="saveBtn" type="submit" 
                          style="width:143px;display:inline-block;" 
                          class='btn btn-success' value="Change password">
                  <input  style="width:143px;display:inline-block;" 
                          id="cancelBtn" type="reset" 
                          class='btn btn-danger' value="Cancel">
                </div>
              </div>
            </div>

    </form>
</div>

{% endblock %}