{% extends "authBase.html" %}

{% block head %}
<style type="text/css">

.inner {
    width: 340px;
}

</style>
{% endblock %}
{% block content %}
    <div style="margin:auto;width:100px">
        <img style="height: 80px;width: 80px;border-radius:50%;" 
          src="static/img/molecule1.png">
      </div>
      <div style="height:40px;margin:auto;width:200px;font-size:20px;
          padding-top:20px;">
          <div>Forgot Password</div>
      </div>

      <div id="formDiv">
        <form style="margin-bottom:0px" action="" method="post" name="login">
          {{ form.hidden_tag() }}
          <div>
            <div>
              Email:
              {% for error in form.email.errors %}
                  <span class="error">{{ error }}</span>
              {% endfor %}
            </div>
            {{ form.email}}<br>
         </div>
         <p style="margin-top:20px;width:605px;">
            <input id="passwordRecoveryBtn" type="submit" class='btn btn-success' value="Send new password to email">
          </p>
        </form>
      </div>
{% endblock %}