<p>Dear {{ user.firstname }} {{ user.lastname }},Welcome!</p>
<p>We are sending your password reset url below.</p>
<p>Please visit the below url to set new password  for your account:</p>
<br>
    <tr valign="top">
        <td>
        	<img src="{{ url_for('static',
        			  filename='img/molecule1.png',
        			  _external=True) }}">
        </td>
        <td>
            <a href="{{ passwordRecovery_url }}">{{ passwordRecovery_url }}</a><br />
        </td>
    </tr>
</table>

<p>Thanks,</p>
<p>The site admin.</p>

<!--
liens:
https://navaspot.wordpress.com/2014/06/25/how-to-implement-forgot-password-feature-in-flask/

https://pythonhosted.org/itsdangerous/#itsdangerous.Signer
-->
